@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fontów z Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap'); */

/* Globalne style dla całej strony */
@layer base {
  body {
    @apply bg-dark-950 text-dark-100 font-sans; /* Bardzo ciemne tło, jasny tekst */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Dostosowanie paska przewijania dla nowoczesnego wyglądu */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #080808; /* dark-950 */
}

::-webkit-scrollbar-thumb {
  background: #00D140; /* accentGreen-500 */
  border-radius: 5px;
  border: 2px solid #00581B; /* accentGreen-800 */
}

::-webkit-scrollbar-thumb:hover {
  background: #00A832; /* accentGreen-600 */
}
